@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

// Colour Scheme
$background-light: #FBFBFB;
$background-dark: #1D3354;
$menu-light: #FFFFFF;
$menu-dark: #26537C;
$heading-light:#000000;
$heading-dark: #FFFFFF;
$heading-box-light: #FBFBFB;
$heading-box-dark: #1D3354;
$font-light: #000000;
$font-dark: #FFFFFF;
$transition: .5s;

// Display Options
%display-options {
  display: grid;  
}

// Content Box Universal Settings
%content-box-options {
  border: 0pt solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  background-color: $menu-light;
  color: $font-light;
  transition: $transition;
}

html {
  background: $background-light;
  color: $font-light;
  transition: $transition;
}

html[data-theme='dark'] {
  background: $background-dark;
  color: $font-dark;
  transition: $transition;
}

h2 {
  border: 0pt solid $menu-dark;
  border-radius: 10px;
  margin: 3px;
  padding: 5px 5px 5px 10px;
  background-color: $heading-box-light;
  color: $heading-light;
  transition: $transition;
}

.dark {
  background-color: $heading-box-dark;
  color: $heading-dark;
  $transition: $transition;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: $background-dark;
  transition: $transition;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  background: #fff;
  transition: $transition;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
}

input:checked + label:after {
  background: $background-dark;
  transition: $transition;
}


input:checked + label {
  background: $background-light;
  transition: $transition;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
  transition-delay: 0!important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito' sans-serif;
}

.app-container {
  @extend %display-options;
  grid-template-rows: 100px 1fr;
}

.title-bar-container {
  @extend %display-options;
  grid-template-columns: 10fr 2fr;
  margin: 10px 0px 0px 10px;
  h1 {
    font-size: 42pt;
  }

  .light-dark-container {
  font-weight: bold;
  }
}

.content-container {
  @extend %display-options;
  grid-template-columns: 1fr 2fr;
}

// Site Content
.summary-container {
  @extend %content-box-options;
}

.summary-container-dark {
  @extend %content-box-options;
  background-color: $menu-dark;
  color: $font-dark;
}

.device-container {
@extend %content-box-options;
grid-column-start: 1;
grid-column-end: 3;
}

.device-container-dark {
  @extend %content-box-options;
  background-color: $menu-dark;
  color: $font-dark;
  grid-column-start: 1;
  grid-column-end: 3;
}

#title-panel{
  display: grid;
  grid-template-columns: 10fr 2fr;
  margin-left: 10px;
}


.network-dark {
  background-color: #1D3354;
  color: white;
}

.network-light {
  background-color: #F2F3F4;
}

.device-title-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.device-list-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* STOCK TAB */

.tab {
  overflow: hidden;
  // text-align: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  // font-size: 1.5em;
  border-radius: 2em;
  border: none;
  // color: ghostwhite;
  // margin: 0 0.5em;
  // text-align: center;
  outline: none;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #F4B41A;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #F4B41A;
  text-decoration: underline;
}

.tab button:focus {
  outline: none;
}
/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border-top: none;
  display: none;
}

.tabelement {
  display: inline-block;
  padding: 20px;
}